venv/
dist/
build/
*.eggs
*.egg-info/
*.pyc
*/__pycache__/
.pytest_cache/
.mypy_cache/
tags

htmlcov/
.coverage

*.swp
*.swo

*.csv
*.iml
.idea
*.code-workspace
.vscode
site/
!src/epstats/toolkit/testing/resources/*.csv
*-checkpoint.ipynb
.ipynb_checkpoints
.ruff_cache
__pycache__/
.DS_Store
